.bg-red {
  background-color: $red !important;
}

.color-red {
  color: $red !important;
}

.bg-pink {
  background-color: $pink !important;
}

.color-pink {
  color: $pink !important;
}

.bg-purple {
  background-color: $purple !important;
}

.color-purple {
  color: $purple !important;
}

.bg-deep-purple {
  background-color: $deep-purple !important;
}

.color-deep-purple {
  color: $deep-purple !important;
}

.bg-indigo {
  background-color: $indigo !important;
}

.color-indigo {
  color: $indigo !important;
}

.bg-blue {
  background-color: $blue !important;
}

.color-blue {
  color: $blue !important;
}

.bg-light-blue {
  background-color: $light-blue !important;
}

.color-light-blue {
  color: $light-blue !important;
}

.bg-cyan {
  background-color: $cyan !important;
}

.color-cyan {
  color: $cyan !important;
}

.bg-teal {
  background-color: $teal !important;
}

.color-teal {
  color: $teal !important;
}

.bg-green {
  background-color: $green !important;
}

.color-green {
  color: $green !important;
}

.bg-light-green {
  background-color: $light-green !important;
}

.color-light-green {
  color: $light-green !important;
}

.bg-lime {
  background-color: $lime !important;
}

.color-lime {
  color: $lime !important;
}

.bg-yellow {
  background-color: $yellow !important;
}

.color-yellow {
  color: $yellow !important;
}

.bg-amber {
  background-color: $amber !important;
}

.color-amber {
  color: $amber !important;
}

.bg-orange {
  background-color: $orange !important;
}

.color-orange {
  color: $orange !important;
}

.bg-deep-orange {
  background-color: $deep-orange !important;
}

.color-deep-orange {
  color: $deep-orange !important;
}

.bg-brown {
  background-color: $brown !important;
}

.color-brown {
  color: $brown !important;
}

.bg-grey {
  background-color: $grey !important;
}

.color-grey {
  color: $grey !important;
}

.bg-blue-grey {
  background-color: $blue-grey !important;
}

.color-blue-grey {
  color: $blue-grey !important;
}

.bg-black {
  background-color: $black !important;
}

.color-black {
  color: $black !important;
}

.bg-white {
  background-color: $white !important;
}

.color-white {
  color: $white !important;
}

.o-hidden {
  overflow: hidden;
}

.o-visible {
  overflow: visible;
}

.o-auto {
  overflow: auto;
}
