// Import Bootstrap and App variables and mixins
@import "../../../../../assets/scss/inner-imports";

.todo__item {
  padding-left: 4.5rem;
  display: block;

  small {
    display: block;
    font-size: 0.95rem;
    margin-top: 0.2rem;
  }

  .custom-control-input {
    &:checked {
      & ~ .todo__info {
        text-decoration: line-through;
      }
      & ~ .custom-control--char__helper {
        > i {
          background-color: #e9e9e9 !important;
        }
        &:after {
          color: $body-color;
        }
      }
    }
  }
}

.todo__info > {
  span {
    color: #333;
  }
  small {
    color: #9c9c9c;
  }
}

.todo__labels > a {
  color: #ffc107;
  border: 2px solid #ffdb6d;
  border-radius: 2px;
  padding: 0.35rem 0.8rem;
  display: inline-block;
  margin: 0 0.1rem 0.4rem;
  transition: color 300ms, border-color 300ms;
  &:hover {
    color: #edb100;
  }
}
